body{
background-image: url("img_3050.jpg");
text-align: center;
font-size: 35px;
color: burlywood
}

h1{
    color: burlywood;
text-align: center;
}
h3{
    color: burlywood;
text-align: center;
}